@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DelaGothicOne";
  src: url("@/assets/fonts/DelaGothicOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PermanentMarker";
  src: url("@/assets/fonts/PermanentMarker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RumRaisin";
  src: url("@/assets/fonts/RumRaisin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "DelaGothicOne";
}
.text-outline {
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: #2a3d73;
  stroke: #2a3d73;
  text-shadow: 3px 3px 0px #2a3d73;
}
